<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Nunito" />
</head>
<body>
  <div class="container">
    <div class="circles"></div>
    <div class="details-container">
      <div class="avatar">
        <img src="assets/images/web/abuthair.jpg" class="img-fluid" alt="" />
      </div>
      <div class="about">
        <div class="name">
          <p>Hello There!</p>
          <h1>I'm Sheika Abuthair</h1>
        </div>
        <div class="about-content">
          <p>
            Iam Also a Cricketer with big Dreams unfortunately I was not
            successful but i hope this application will help many Cricketers to
            Fullfill there dreams as Virat Kohli said "No cricket team in the
            world depends on one or two players. The team always plays to win."
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="skills-container">
      <button [routerLink]="['/contactus']">ContactUs</button>
    </div>
  </div>
</body>
