<!-- <div *ngFor="let signing of signings">
  {{ signing | json }}
</div> -->
<!-- <table>
  <div>
    <tr>
      <th>SigningId</th>
      <th>PlayerId</th>
      <th>Price</th>
      <th>teamId</th>
      <th>Season</th>
    </tr>
    <tr *ngFor="let signing of signings">
      <td>{{ signing.signingId }}</td>
      <td>{{ signing.player.playerId }}</td>
      <td>{{ signing.price }}</td>
      <td>{{ signing.teamId }}</td>
      <td>{{ signing.season }}</td>
    </tr>
  </div>
</table> -->
<table class="table">
  <thead>
    <tr>
      <th>SigningId</th>
      <th>PlayerId</th>
      <th>Price</th>
      <th>teamId</th>
      <th>Season</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let signing of signings">
      <td>{{ signing.signingId }}</td>
      <td>{{ signing.player.playerId }}</td>
      <td>{{ signing.price }}</td>
      <td>{{ signing.teamId }}</td>
      <td>{{ signing.season }}</td>
    </tr>
  </tbody>
</table>
