#Layer_1 {
  height: 40px;
  width: 40px;
}
.example-spacer {
  flex: 1 1 auto;

  justify-content: space-between;
}
button {
  margin: 25px;
}
.signup {
  border-radius: 8px;
}
.sec2 {
  background-color: rgba(137, 186, 214, 0.836);
}
